#contact{
    background-color: rgb(41, 41, 41);
    padding-top: 30px;
    padding-bottom: 30px;
    


}
.title{
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.contacts{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.cont span{
    color: white;
}
.care{
    margin-right: 40px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.188);
}
.icons{
    color: #d00042;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
